.sidebar-content {
    margin-bottom: 19px;
    position: sticky;
}

.main-content {
    position: relative;
    border-radius: 20px;
    border: 2px solid #ecf0f4;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    /* float: left; */
}

.box-shadow {
    position: relative;
    border-radius: 20px;
    border: 2px solid #ecf0f4;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 10px;
}